
.center
{ 
  display: block;
  margin-left: auto;
  margin-right: auto;

}

img
{
  width: 300px;
  height: 300px;

}

h1, h2, h3 
{
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

h1
{
font-size: 40px;
}

h2
{
font-size: 30px;
}
a:link    { color: blue;  }
a:visited { color: red;   }
a:hover   { color: green; }
a:active  { color: yellow;  }

body, footer
{
background-color: lightgrey;
}

hr
{
  margin: 5px;
  padding: 5px;
  
}

p
{
  text-align: center;
}

ul, ol
{
 text-align: center;
 list-style-position: inside;
}

